@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cv.css" asp-append-version="true">
    <title>Document</title>
</head>

<body>

    <div class="resume"> ÖZGEÇMİŞ</div>

    <div class="deneyim">
        <h2> DENEYİMLER</h2>
    </div>




    <div class="buton" id="btn">
        <a data-testid="linkElement" href="https://drive.google.com/file/d/1oWrrkGl9X0kOmTXgRAkauP8TLBSNfyu8/view?usp=share_link" target="_blank" class="buton" aria-disabled="false">
            <span class="M3I7Z2 wixui-button__label">
                CV'Yİ İNDİR
            </span>
        </a>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2018 - 2020</h1>
            <h3 class="designer">Designer</h3>
            <h5 class="sirket">A ŞİRKETİ</h5>
            <h5 class="konum">İSTANBUL</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2016 - 2018</h1>
            <h3 class="designer">MANAGER</h3>
            <h5 class="sirket">B ŞİRKETİ</h5>
            <h5 class="konum">ANKARA</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2015 - 2016</h1>
            <h3 class="designer">MANAGER</h3>
            <h5 class="sirket">C ŞİRKETİ</h5>
            <h5 class="konum">ANKARA</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>
    <div class="egitim">
        <h2>EĞİTİM</h2>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2018 - 2020</h1>
            <h3 class="designer">Designer</h3>
            <h5 class="sirket">A ŞİRKETİ</h5>
            <h5 class="konum">İSTANBUL</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2016 - 2018</h1>
            <h3 class="designer">MANAGER</h3>
            <h5 class="sirket">B ŞİRKETİ</h5>
            <h5 class="konum">ANKARA</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>

    <div class="area">
        <div>
            <h1 class="date"> 2015 - 2016</h1>
            <h3 class="designer">MANAGER</h3>
            <h5 class="sirket">C ŞİRKETİ</h5>
            <h5 class="konum">ANKARA</h5>
        </div>
        <div>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, voluptas! Minima et pariatur quis animi, optio nam? Tempore nam, accusamus animi, dolor amet dolore labore soluta fugiat voluptas ad quod.

            </h4>
        </div>
    </div>
    <div class="yetenek">
        <h2>YETENEKLER</h2>
    </div>
    <div class="area">
        <div>
            <h1 style="color: black; font-size: 20px;">PROGRAMLAMA</h1>
            <P>html</P>
            <p>css</p>
            <p>java</p>
            <p>swift</p>
            <p>android studio</p>
        </div>
    </div>
    <div class="area">
        <div>
            <h1 style="color: black; font-size: 20px;">DİL</h1>
            <p>TÜRKÇE (ANA DİL)</p>
            <p>İNGİLİZCE (B1)</p>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p> © 2023 web projesi</p>
        </div>
    </footer>


    <nav>
        <div class="name">
            <a style="font-size: 20px;"> MUSTAFA GÜNDÜZ </a>
            <a style=" font-size: 20px; font-family: 'Montserrat', 'sans-serif';"> / BİLGİSAYAR MÜHENDİSİ </a>
        </div>
        <ul class="menu">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <li><a href="@Url.Action("cv","Home")">CV</a></li>
            <li><a href="@Url.Action("iletisim","Home")">İLETİŞİM</a></li>
        </ul>
    </nav>


</body>

</html>