@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
}


.left {
    height: 100vh;
    background-color: rgb(177, 184, 165);
    float: left;
    width: 40%;
    margin-left: -100px;
    
}

.right {
    height: 100vh;
    background-color: white;
    float: right;
    width: 60%;
}

.alan {
    height: 430px;
    width: 350px;
    background-color: rgb(133, 142, 118);
    box-shadow: -2px 0px 5px rgb(122, 131, 106);
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-200%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .alan img {
        max-width: 180px;
        max-height: 180px;
        border-radius: 50%;
        margin-top: 10px;
    }

    .alan p {
        margin-top: 30px;
        margin-bottom: 0;
        text-align: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }

    .alan #title {
        margin-top: 30px;
        margin-bottom: 0;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

.merhaba h1 {
    display: flex;
    flex-direction: column;
    font-size: 72px;
    color: rgb(22, 30, 10);
    text-transform: uppercase;
    margin-top: -200px;
    margin-left: -334px;
}

.alttitle {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: rgb(22, 30, 10);
    text-transform: uppercase;
    margin-top: -500px;
    margin-left: -395px;
}

.denemeclassi {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: rgb(22, 30, 10);
    text-transform: uppercase;
    margin-top: -800px;
    margin-left: -700px;
}




nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(251, 252, 249);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.name {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    display: inline-block;
}



.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .menu li {
        margin-left: 20px;
    }

        .menu li:first-child {
            margin-left: 0;
        }

    .menu a {
        font-family: 'Montserrat', 'sans-serif';
        font-size: 20px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }

        .menu a:hover {
            color: #f00;
        }



p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 27px;
}

.title {
    margin-top: 50px;
    font-size: 13px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


h1 {
    font-size: 5rem;
}

.merhaba {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profil {
    background-color: rgb(66, 80, 42);
    width: 550px;
    height: 550px;
    margin-bottom: 20px;
    margin-left: 300px;
    box-shadow: -2px 0px 5px rgb(122, 131, 108);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(251, 252, 249);
    color: black;
    padding: 26px;
    font-size: 14px;
}

.footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
    margin: 10px;
    line-height: 1.5;
}
